[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "evil"]
	path = evil
	url = https://github.com/emacs-evil/evil
[submodule "undo-tree"]
	path = undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
[submodule "org-mode"]
	path = org-mode
	url = git://orgmode.org/org-mode.git
